* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

#container {
  width: 90%;
  margin: 0 auto;
  border: double;
}

#videoBoxes {
  width: 60%;
  height: 500px;
  margin: 0 auto;
  border: solid;
  overflow: hidden;
}

.videoBox {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border: dotted;
}

.videoFitBox {
  object-fit: cover;
  border: double;
}

#ctrlButtons {
  width: 60%;
  margin: 0 auto;
  clear: both;
}